@import "base/index";
@import "layout/index";
@import "components/index";



*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  color: white;
  font-family: $main-font;
}

.main {
  height: 100vh;
  width: 100vw;
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-position: center;
}

.nav-main {
  height: 6em;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5em 5em 0 5em;
}

.nav-main ul {
  display: flex;
  list-style-type: none;
  li {
    padding-left: 3em;
    flex-grow: 1;
  }
}

.main-content {
  margin-top: 4em;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

    #arctic-wild {
      font-family: $arctic-wild;
      font-size: 6em;
      margin: 0;
  }

    #enjoy {
      font-size: 1.5em;
    }

    .line {
      border-top: 5px solid white;
      width: 300px;
    }
}


.nav-secondary {
  display: flex;
  margin: 0;
  height: 5em;
  width: 100%;
  background-image: url('../img/middle-nav.jpg');
  background-repeat: repeat-x;
  align-items: center;
  justify-content: space-between;
}

.nav-secondary ul {
  display: flex;
  list-style-type: none;
    li {
      padding: 0 2em;
    }
}

// gallery

.gallery-area {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}

  .rafting {
    display: flex;
    flex-direction: column;
    background-image: url('../img/gallery1.jpg');
    width: 50vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

  .basecamp {
    display: flex;
    flex-direction: column;
    background-image: url('../img/gallery2.jpg');
    width: 25vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

  .backpacking {
    display: flex;
    flex-direction: column;
    background-image: url('../img/gallery3.jpg');
    width: 25vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

  .canoe {
    display: flex;
    flex-direction: column;
    background-image: url('../img/gallery4.jpg');
    width: 25vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
  }

  .photography {
    display: flex;
    flex-direction: column;
    background-image: url('../img/gallery5.jpg');
    width: 25vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
  }

  .custom {
    display: flex;
    flex-direction: column;
    background-image: url('../img/gallery6.jpg');
    width: 50vw;
    height: 50vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
  }

  .gallery-area p {
    display: flex;
    justify-content: flex-start;
    border-top: 3px solid $orange;
    margin-top: 4em;
  }

  .icon {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      opacity: 0.75;
      width: 50px;
      height: 50px;
      margin: auto;
      margin: 0;
      padding: 0;
    }
}
