button {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #dc7725;
  padding: 15px 30px 15px 30px;
  font-family: $main-font;
}
